/* notification in navbar */
.notification-container {
    position: relative;
}


#notification:hover::before {
    content: 'For more info click on Data Intelligence Hub and Dormant';
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}

#notificationText {
    animation: fade 1s infinite;
}
#notification:hover::before {
    visibility: visible;
    opacity: 1;
}

/* notification in navbar */