<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="text-align: center;">
<hr>

<a href="" style="margin-right: 5%;color: white;">  <i class="fa fa-linkedin" style="font-size: 1em;"></i></a>
<a href="" style="margin-right: 5%;color: white;"><i class="fa fa-globe" style="font-size:1em"></i></a>

<a href="" style="color: white;">
  <i class="fa fa-envelope" style="font-size: 1em;">  </i>  
</a>
<span style="color: white;">i@a.com</span>

 <p style="color: white; margin-top: 0.5%;"><i class="fa fa-copyright" style="color: white;" ></i> Powered by me Inc.</p>

</div>
